.footer-styles {
    background-color: #01796f;   
}

.footer-header {
    color:mintcream;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: large;
}

.footer-sub-header {
    /* color: lightcoral; */
    color: #FDBCB4;
    font-size: large;
}

.footer-contact, .footer-creator, .footer-nav, .footer-item-links, .footer-links {
    color: mintcream;
    font-size: large;
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
