.navbar-styles {
    padding-top: 20px;
    padding-bottom: 20px;
}

.branding {
    font-size: xx-large;
    color: #000000;
}

.nav-item-style {
    font-size: large;
    padding-left: 5px;
    padding-right: 5px;
    /* color: black; */
}

.nav-link-style {
    color: #000000;
}

.nav-colored {
    /* background-color: #29ab87;   jungle green*/
    background-color: #01796f;  /*pine green */
    /* background-color: #2e8b57;   sea green */
}

.nav-transparent {
    background-color: transparent;
}

/* @media(max-width: 760px) {

} */