.navbar-styles {
    padding-top: 20px;
    padding-bottom: 20px;
}

.branding {
    font-size: xx-large;
    color:midnightblue;
}

.nav-item-style {
    font-size: large;
    padding-left: 5px;
    padding-right: 5px;
    /* color: black; */
}

.nav-link-style {
    color: midnightblue;
}